*.*~
*.last
snippets/c++-mode/work_*
autosaves
.autosaves
.cache/
.lsp*
irony/
fonts/
projectile*
config.el
elpa/
projects
history
auto-save-list
network-security.data
places
recentf
server/
eshell/
transient/
.mc-lists.el